@font-face {
  font-family: Aloja;
  src: url('./Aloja-Light.woff');
}
@font-face {
  font-family: Amb;
  src: url('./spire.ttf');
}

body {
  font-family: Amb;
  font-size: larger;
  color: black;
  /* display: flex; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  /* padding: 15px; */
  display: grid;
  text-align: center;

  /* flex-wrap: wrap; */

  /* color:black */
  /* border-style: solid;
  
  /* border-radius: 50px;
  font-family: Amb;
  font-weight: 900;
  color: white;
  border-width: 5px; */
  font-size: 1.5rem;
}
#carouselExampleSlidesOnly.carousel-inner {
  display: flex;
  background-color: black;
}
#top {
  font-family: Amb;
  font-size: 90px;
}

.drinks {
  border: slategray;
  border-style: groove;
  background-color: lightgray;
}

#nav-bar {
  display: flex;
}

.link {
  margin: 20px;
}
