@font-face {
  font-family: Aloja;
  src: url('./Aloja-Light.woff');
}
@font-face {
  font-family: Amb;
  src: url('./spire.ttf');
}

body {
  font-family: Amb;
  font-size: larger;
  color: black;
  /* display: flex; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  /* padding: 15px; */
  display: grid;
  text-align: center;

  /* flex-wrap: wrap; */

  /* color:black */
  /* border-style: solid;

  /* border-radius: 50px;
  font-family: Amb;
  font-weight: 900;
  color: white;
  border-width: 5px; */
  font-size: 1.5rem;
}
#carouselExampleSlidesOnly.carousel-inner {
  display: flex;
  background-color: black;
}
#top {
  font-family: Amb;
  font-size: 90px;
}

.drinks {
  border: slategray;
  border-style: groove;
  background-color: lightgray;
}

.navbar {
  color: navy;
}

.link {
  margin: 20px;
}
#orderTable {
  margin: 5px;
  width: 800px;
  float: left;
}
#carded {
  width: 300px;
  margin: 10px;
}

.media {
  /* border-width: 0.5px;
  border-bottom: gray;
  border-style: solid; */
  /* border-color: hotpink; */
  background-color: white;
  /* width: 5rem;
  height: 5rem; */
}
.jumbotron {
  background-color: rgb(180, 121, 43);
  color: white;
}

.backdrop {
  background-color: white;
}
.media-body {
  align-self: center;
  font-size: larger;
}

.pic {
  padding: 2rem;
}

.product-description {
  color: grey;
}

.product-title {
  color: rgba(5, 5, 53, 0.973);
  font-weight: bold;
  font-size: x-large;
}

/* span {
  color: lightgray;
} */
