@font-face {
  font-family: Aloja;
  src: url('./Aloja-Light.woff');
}
@font-face {
  font-family: Amb;
  src: url('./spire.ttf');
}

body {
  font-family: Amb;
  font-size: larger;
  display: flex;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  border-style: solid;
  padding: 15px;
  border-radius: 50px;
  font-family: Amb;
  font-weight: 900;
  color: white;
  border-width: 5px;
  font-size: 1.5em;
}

#top {
  font-family: Amb;
  font-size: 90px;
}

.container {
  display: grid;
}

.drinks {
  border: slategray;
  border-style: groove;
  background-color: lightgray;
}

#nav-bar {
  display: flex;
}

.link {
  margin: 20px;
}
